body {
  font-family: 'Roboto', sans-serif;
  background-color:#fff;
  background-position: top right;
  color:#000;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size:300%;
  color:#000;
  text-shadow:2px 3px 1px #30764b
}

#header {
  -webkit-align-content: center;
  align-content: center;
}

#credits {
  margin-top:5%;
}